:root {
    --bg-color: rgb(223, 233, 200);
    --text-color: rgb(19, 17, 17);
    --form-bg: rgb(187, 214, 122);
    --form-shadow: rgb(39, 38, 38);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
    background-color: var(--bg-color);
    color: var(--text-color);
}
.container {
    max-width: 1540px;
    min-height: 100vh;
    margin-inline: auto;
}
header {
    width: 100%;
    padding: 2rem 0rem;
    text-align: center;
}
header > h1 {
    width: 100%;
    color: orangered;
    font-size: x-large;
    font-weight: 600;
    margin-bottom: 1.5rem;
    text-shadow: 0px 0px 0.25rem orangered;
}
header > p {
    width: 100%;
    font-size: small;
}
main {
    width: 100%;
    padding: 5rem 0rem;
}
form {
    border-radius: 0.25rem;
    padding: 2rem;
    background-color: var(--form-bg);
    box-shadow: 0px 0px 0.75rem -5px var(--form-shadow);
    width: 60%;
    margin-inline: auto;
}
.focus-none:focus-visible {
    outline: none;
}
input {
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem;
}
@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: rgb(22, 21, 21);
        --text-color: whitesmoke;
        --form-bg: rgb(58, 66, 38);
        --form-shadow: white;
    }
}
