* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
    background-color: rgb(223, 233, 200);
    color: rgb(19, 17, 17);
}
.container {
    max-width: 1540px;
    min-height: 100vh;
    margin-inline: auto;
}
header {
    width: 100%;
    padding: 2rem 0rem;
    text-align: center;
}
header > h1 {
    width: 100%;
    color: orangered;
    font-size: x-large;
    font-weight: 600;
    margin-bottom: 1.5rem;
    text-shadow: 0px 0px 0.25rem orangered;
}
header > p {
    width: 100%;
    font-size: small;
}
main {
    width: 100%;
    padding: 5rem 0rem;
}
form {
    border-radius: 0.25rem;
    padding: 2rem;
    background-color: rgb(187, 214, 122);
    width: 60%;
    margin-inline: auto;
}
.focus-none:focus-visible {
    outline: none;
}
input {
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem;
}
@media (prefers-color-scheme: dark) {
    body {
        background-color: rgb(22, 21, 21);
        color: whitesmoke;
    }
}
